appdirs==1.4.4
cfgv==3.2.0
click==7.1.2
distlib==0.3.1
filelock==3.0.12
future==0.18.2
identify==1.5.10
joblib==1.0.0
nltk==3.5
nodeenv==1.5.0
numpy==1.19.4
pandas==1.1.5
pre-commit==2.9.3
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
regex==2020.11.13
sentencepiece==0.1.94
six==1.15.0
toml==0.10.2
torch==1.6.0
tqdm==4.54.1
typing-extensions==3.7.4.3
Unidecode==1.1.2
virtualenv==20.2.2
